fastapi
uvicorn
psycopg2-binary
python-multipart
pydantic
numpy
faiss-cpu
sentence-transformers
python-dotenv
pymupdf
python-docx
google-generativeai
pillow
nltk-3.9.4
openai
pytesseract 
pillow
langchain
langchain-community
langchain-experimental
pdfplumber